<content class="game-board" data-click="new-game" data-theme="modern">
	<div class="board" data-click="make-move"></div>

	<div class="game-start">
		<div class="black"></div>
		<div class="th"></div>
		<div class="ell"></div>
		<div class="white"></div>
		<div class="divider"></div>

		<div class="info">Click to play</div>
		
		<div class="game-over">
			<div class="black-small"></div>
			<div class="black-score">33</div>
			<div class="white-small"></div>
			<div class="white-score">36</div>
			<div class="winner">Black winns!</div>
		</div>
	</div>

	<!-- for game won -->
	<div class="congratulations" data-click="close-congratulations">
		<h2>
			Congratulations<br>
			You won!
		</h2>
		<div class="pyro">
			<div class="before"></div>
			<div class="after"></div>
		</div>
	</div>
</content>
