
[data-ui="royale-amber"] {
	.win-toolbar_ .toolbar-group_ .toolbar-field_:before { bottom: -2px; }
	.win-body_ content {
		filter: hue-rotate(285deg);
	}
}

[data-ui="royale-black"] {
	.win-toolbar_ .toolbar-group_ .toolbar-field_:before { bottom: -2px; }
	.win-body_ content {
		filter: hue-rotate(115deg);
	}
}

[data-ui="royale-emerald"] {
	.win-toolbar_ .toolbar-group_ .toolbar-field_:before { bottom: -2px; }
	.win-body_ content {
		filter: hue-rotate(0deg);
	}
}

[data-ui="royale-purple"] {
	.toolbar-score {
		filter: hue-rotate(155deg);
	}

	.win-toolbar_ .toolbar-group_ .toolbar-field_:before { bottom: -2px; }

	.win-body_ content {
		filter: hue-rotate(155deg);
	}
}

[data-ui="royale-pink"] {
	.toolbar-score {
		filter: hue-rotate(165deg);
	}

	.win-body_ content {
		filter: hue-rotate(175deg) saturate(1.25) brightness(1.5);

		.game-start {
			background: linear-gradient(to bottom, #82ce7f 0%, #62c05d 37%, #58c454 38%, #469b43 100%);
			filter: brightness(0.65);
		}

		.board table {
			filter: brightness(0.65);
		}
	}
}
